@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '@/assets/variables.scss';


$fontFamilyRoot: 'Montserrat', sans-serif !important;

$primary: #0D4A56;
$secondary: #467b88;
$tertiary: #c0faff;
$quanterary: #fb9039;
$pentanary: #F9F9F4;

$primaryFont: #2e384d;
$secondaryFont: #8d9db1;
$tertiaryFont: #f8fafa;

$primaryGradient: linear-gradient(150deg, $secondary 0%, $pentanary 100%) !important;

$primaryBoxShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;


* {
    padding: 0;
    margin: 0;
    text-transform: none !important;
}
html {
    background-color: $pentanary !important;
    box-sizing: border-box;
    text-rendering: optimizeLegibility; 

    .v-application .v-application--wrap * {
        font-family: $fontFamilyRoot;
    }

    .v-main {
        // --- MAIN CONFIG --- //
        background-color: $pentanary !important;
        
        // ------- ALL INPUTS CONFIG ------- //
        .theme--light.v-label {
            color: $quanterary; // label color
        }
        .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state):not(.v-input--is-disabled) > .v-input__control > .v-input__slot:hover fieldset {
            color: $tertiary !important; // hover of input
        }
        .theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state) > .v-input__control > .v-input__slot fieldset {
            color: $quanterary !important; // input border color
        }
        .theme--light.v-input input, .theme--light.v-input textarea {
            color: $primary; // font color
        }
        .v-input--is-focused fieldset {
            border: 2px solid $secondary !important; // input ACTIVE color
        }


        .banner-card {
            background: $primaryGradient;
            backdrop-filter: blur(7.5px);
            // border-top: 1px solid rgba(180, 217, 219, 0.3);
            // border-left: 1px solid rgba(180, 217, 219, 0.3);
            .banner-text {
                background: rgba(192, 250, 255, 0.5);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(192, 250, 255, 0.5);
            }
        }

        .song-card {
            box-shadow: $primaryBoxShadow;
            .image-card {

            }
            // .song-cover::before {
            //     content: '';
            //     // position: absolute !important;
            //     position: absolute;
            //     width: 100%;
            //     height: 100%;
            //     top: 50%;
            //     background-image: url('/kratos-avatar.jpg');
            //     background-size: cover !important;
            //     z-index: 0;
            //     filter: blur(12px);
            //     opacity: 0.5 ;
            //     left: 50%;
            //     transform: translate(-50%, 10%);
            // }
            .play-btn {
                background: rgba(192, 250, 255, 0.5);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(192, 250, 255, 0.5);
            }
        }

        .opened-song-card {
            box-shadow: $primaryBoxShadow;
            .close-btn::before {
                opacity: 0;
            }
            .play-pause-btn {
                // background: $primaryGradient;
                // box-shadow: $primaryBoxShadow;
                // backdrop-filter: blur(7.5px);
                // border-top: 1px solid rgba(180, 217, 219, 0.3);
                // border-left: 1px solid rgba(180, 217, 219, 0.3);
            }         
            .volume-slider .v-slider--horizontal .v-slider__track-container {
                height: 10px !important;
            }
            .volume-slider .v-slider__thumb {
                width: 18px;
                height: 18px;
            }           
        }  
        
        // --- DIVIDER CONFIG --- //
        // .divider {
        //     line-height: 1em;
        //     position: relative;
        //     outline: 0;
        //     border: 0;
        //     text-align: center;
        //     height: 1.5em;
        //     &:before {
        //         content: '';
        //         background: linear-gradient(to right, transparent, $secondaryFont, transparent) !important;
        //         position: absolute;
        //         left: 0;
        //         top: 50%;
        //         width: 100%;
        //         height: 1px;
        //     }
        //     &:after {
        //         content: attr(data-content);
        //         position: relative;
        //         display: inline-block; 
        //         color: $secondaryFont !important;
        //         font-weight: bold !important;
        //         padding: 0 .5em;        
        //         line-height: 1.5em;
        //         color: $secondaryFont;
        //         background-color: white;
        //     }
        // }         
        .navigation .navItem.v-item--active.v-list-item--active.v-list-item.v-list-item--link.theme--light {
            background: $primary !important;
        }
        .navigation .v-list-item--link::before {
            background: $primaryFont !important;
        }
        .navigation .v-list-item--active .v-icon { 
            color: $tertiary !important; // ACTIVE icon color
        }     
        .navigation .v-list-item--active .v-list-item__title { 
            color: $tertiaryFont !important; // ACTIVE font color
        }   
    }
}